


//== forms
//
//##

.login-label{
	color: #fff;
	font-weight: normal;
	font-size: 12px;
}

.login{
	width: 40%;
}

.login-input{
	border-radius: 0;
	height: 25px;
	padding: 1px
}

.login-btn{
	height: 27px;
	padding: 5px;
	line-height: 1em;
	border-radius: 2px;
	margin-top: 40%;
}

.login-link{
	font-size: 12px;
}